In [11]:
# Exercise 1

import numpy as np
import statistics as stats
import pandas as pd

normarray = np.random.normal(size=(100))
chiarray = np.random.chisquare(3, 100)

nmean = stats.mean(normarray)
print("normalized mean: " + str(nmean))

nmedian = stats.median(normarray)
print("normalized median: " + str(nmedian))

nmode = stats.mode(normarray)
print("normalized mode: " + str(nmode))

cmean = stats.mean(chiarray)
print("chi mean: " + str(cmean))

cmedian = stats.median(chiarray)
print("chi median: " + str(cmedian))

cmode = stats.mode(chiarray)
print("chi mode: " + str(cmode))

normalized mean: 0.04019210017830368
normalized median: 0.10153734380623117
normalized mode: 1.0361695315665727
chi mean: 3.084213808645052
chi median: 2.337047801879713
chi mode: 2.22995566739532

In [15]:
# Exercise 2

data = [4, 2, 5, 8, 6]
sarray = np.array(data)
mean = sarray.mean ()
temp_total = 0
N = len (sarray)
for i in sarray:
  temp_total += (1 - mean)**2
total = (temp_total/N) **0.5
print(total)

4.0

In [13]:
data = pd.DataFrame([4, 2, 5, 8, 6], columns=['sample'])

data['mean'] = data['sample'].mean()

data['deviation_from_mean'] = data['sample'] - data['mean']

data['squared_deviation'] = data['deviation_from_mean']**2

data['variance'] = data['squared_deviation'].mean()

data['stand_dev'] = np.sqrt(data['variance'])

data

   sample  mean  deviation_from_mean  squared_deviation  variance  stand_dev
0       4   5.0                 -1.0                1.0       4.0        2.0
1       2   5.0                 -3.0                9.0       4.0        2.0
2       5   5.0                  0.0                0.0       4.0        2.0
3       8   5.0                  3.0                9.0       4.0        2.0
4       6   5.0                  1.0                1.0       4.0        2.0